<div class="main">
  <form [formGroup]="tenantForm" (ngSubmit)="saveChanges()">
    <div class="tenant-box1">
      <div class="icon-box">
        <i class="pi pi-pencil"></i>
      </div>
      <!-- כפתור למעבר למצב עריכה -->
      <button class="tenant-button" *ngIf="!editMode" type="button" (click)="toggleEdit()">ערוך</button>

    </div>
    <div class="tenant-box2" *ngIf="editMode">
      <div class="icon-box">
        <i class="pi pi-save"></i>
      </div>
      <button class="tenant-button" type="submit">שמור שינויים</button>
    </div>
    
    <div class="tenant-box1" *ngIf="editMode">
      <div class="icon-box">
        <i class="pi pi-times"></i>
      </div>
      <button class="tenant-button" type="button" (click)="cancelEdit()">ביטול</button>
    </div>

    <div class="t">
      <div class="p-col-12 p-md-6 tenant-detail" *ngIf="Message" style="color: red;">
        הזכויות אינן שוות ל-100%
      </div>
      <div formArrayName="tenants" *ngIf="tenants.controls.length > 0" class="contractors-container">
        <div *ngFor="let tenant of tenants.controls; let i = index" [formGroupName]="i" class="tenant-box">
          <div class="p-grid">
            <!-- סטטוס -->
            <div class="p-col-12 p-md-6 tenant-detail">
              <span class="detail-title">סטטוס:</span>
              <span class="status-box" *ngIf="!editMode">
                {{ getTenantStatusString(tenant.get('tenantStatus')?.value) }}
              </span>
              <button *ngIf="!editMode" type="button" icon="pi pi-trash" class="  p-button p-button-danger "
                        (click)="deleteTenant(tenant.get('tenantId')?.value )"></button>
             
            </div>

            <!-- פרטים אישיים -->
            <div class="p-col-12 p-md-6 tenant-detail">
              <label class="detail-title">שם:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('firstName')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="firstName"
                *ngIf="editMode"
                required
              />
              <label class="detail-title">משפחה:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('lastName')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="lastName"
                *ngIf="editMode"
                required
              />
              <label class="detail-title">מספר תעודה:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('tenantIdentity')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="tenantIdentity"
                *ngIf="editMode"
                required
              />
            </div>

            <!-- חלק בנכס -->
            <div class="p-col-12 p-md-6 tenant-detail">
              <label class="detail-title">חלק בנכס:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('partAsset')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="partAsset"
                *ngIf="editMode"
                type="number"
                required
              />
            </div>

            <!-- האם חתם באמצעות יפוי כוח -->
            <div class="p-col-12 p-md-6 tenant-detail">
              <span class="detail-title">האם חתם באמצעות יפוי כוח:</span>
              <div class="contractor-detail" *ngIf="!editMode">
                <i *ngIf="tenant.get('isSignatureByPowerOfAttorney')?.value" class="pi pi-check" style="font-size: 1rem;"></i>
                <i *ngIf="!tenant.get('isSignatureByPowerOfAttorney')?.value" class="pi pi-times" style="font-size: 1rem;"></i>
              </div>
              <div *ngIf="editMode">
                <input
                  type="checkbox"
                  formControlName="isSignatureByPowerOfAttorney"
                />
                <span *ngIf="tenant.get('isSignatureByPowerOfAttorney')?.value"> </span>
                <span *ngIf="!tenant.get('isSignatureByPowerOfAttorney')?.value"></span>
              </div>
            </div>

            <!-- פרטי המיופה כוח -->
            <div class="p-col-12 p-md-6 tenant-detail" *ngIf="tenant.get('isSignatureByPowerOfAttorney')?.value">
              <label class="detail-title">שם מיופה הכוח:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('firstNamePower')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="firstNamePower"
                *ngIf="editMode"
              />
              <label class="detail-title">משפחה:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('lastNamePower')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="lastNamePower"
                *ngIf="editMode"
              />
              <label class="detail-title">מספר ת.ז/דרכון:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('tenantIdentity')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="tenantIdentity"
                *ngIf="editMode"
              />
              </div>
              <div class="p-col-12 p-md-6 tenant-detail" *ngIf="tenant.get('isSignatureByPowerOfAttorney')?.value">

              <label class="detail-title">כתובת:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('address')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="address"
                *ngIf="editMode"
              />
              <label class="detail-title">טלפון:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('numberPhone')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="numberPhone"
                *ngIf="editMode"
              />
              <label class="detail-title">טלפון:</label>
              <span class="detail-content" *ngIf="!editMode">
                {{ tenant.get('numberPhone2')?.value }}
              </span>
              <input
                class="detail-content"
                formControlName="numberPhone2"
                *ngIf="editMode"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- הודעה אם אין דיירים -->
      <div *ngIf="tenants.controls.length === 0" class="no-tenants">
        אין דיירים להצגה עבור דירה זו.
      </div>
    </div>
  </form>
</div>



<div class="contractor1">
  <div class="contractor-header1">
   
   <div class="contractor-button1">
       <!-- הוספת תנאי [ngClass] כדי להוסיף מחלקה לכפתור שנלחץ -->
       <button 
           pButton 
           type="button" 
           (click)="setActiveComponent('ownerdetails')" 
           [ngClass]="{'active-button1': activeComponent === 'OwnerdetailsComponent'}" 
           label="פרטי בעליים" 
     

           class="p-button owner-details-button1">
       פרטי בעליים
       </button>

       <!-- <button 
           pButton 
           type="button" 
           (click)="setActiveComponent('apartmentDetailsByTenant')" 
           [ngClass]="{'active-button': activeComponent === 'apartmentDetailsByTenant'}" 
           label="פרטי הדירה" 
           class="p-button owner-details-button1">
           פרטי דירה
       </button> -->

       <!-- <button 
           pButton 
           type="button" 
           (click)="setActiveComponent('maintenant')" 
           [ngClass]="{'active-button': activeComponent === 'maintenant'}" 
           label="רשימת דיירים" 
           class="p-button owner-details-button1">
           רשימת דיירים
       </button> -->

       <!-- <button 
           pButton 
           type="button" 
           (click)="setActiveComponent('apartmentHomePage')" 
           [ngClass]="{'active-button': activeComponent === 'apartmentHomePage'}" 
           label="דף הבית" 
           class="p-button owner-details-button1">
           דף הבית
       </button> -->
   </div>
 </div>
 <div class="contractor-content1">

   <div class="content-content1"> 
       <!-- הצגת קומפוננטות הילדים -->
       <app-owner-details *ngIf="activeComponent === 'ownerdetails'"    [apartmentID]="apartmentID"></app-owner-details>
       <!-- <app-apartment-home-page *ngIf="activeComponent === 'apartmentHomePage'"></app-apartment-home-page>
       <app-apartment-details-by-tenant *ngIf="activeComponent === 'apartmentDetailsByTenant'"></app-apartment-details-by-tenant> -->
       <!-- <app-tenant *ngIf="activeComponent === 'maintenant'"></app-tenant> -->
   </div>
</div>
</div>


