<div *ngIf="tenant" class="contractors-container">
    <ng-template pTemplate="header">
      <!-- <span class="header-title">{{ contractor.contractorName }} פרויקט<{{ contractor.contractorName }} בנין<{{ contractor.contractorName }} דירה</span> -->
    </ng-template>
    <!-- <div *ngIf="!editMode"> -->
    <div class="p-grid"> 
        <div class="p-col-12 p-md-6 contractor-detail">
            <span class="detail-title">:סטטוס</span>
            <span class="status-box">
                {{ getTenantStatusString(tenant.tenantStatus) }}
            </span>
            <button pButton type="button" label="פרטי בעלים" class="p-button owner-details-button" (click)="showOwnerDetails()">פרטי בעלים</button>
        </div>
        <div class="p-col-12 p-md-6 contractor-detail">
            <span class="detail-title">שם:</span> 
            <span class="detail-content">{{ tenant.firstName }}</span>
            <span class="detail-title">משפחה:</span> 
            <span class="detail-content">{{ tenant.lastName }}</span>
            <span class="detail-title">מספר ת.ז./דרכון/מ.ר.:</span>
            <span class="detail-content">{{ tenant.tenantIdentity }}</span>
            <span class="detail-title">סוג תעודה:</span>
            <span class="detail-content">{{ getIdentityTypeString(tenant.identityType) }}</span>
            <span class="detail-title">חלק בנכס:</span>
            <span class="detail-content">{{ partAsset }}</span>
        </div>
    </div>
</div>


