<div class="container" *ngIf="!selectedMortgage">
  <ng-container *ngFor="let mortgage of mortgageDetails">
  <div  *ngIf="mortgage.mortagegeStatus !== 3" class="mortgage-box" [ngStyle]="{
    'border': mortgage.mortagegeStatus === 3 ? '2px solid greenyellow' : '2px solid #0AA3A1'  }">
        <table>
      <tr>
           <td>
          <span class="status-box" (click)="toggleMortgageDetails(mortgage)" style="cursor: pointer" 
                [ngStyle]="{
                  'background-color': mortgage.mortagegeStatus === 1 ? '#FCC008' : 
                                      mortgage.mortagegeStatus === 2 ? '#5cb85c' : 
                                      mortgage.mortagegeStatus === 3 ? '#747774' : '',
                  'color': mortgage.mortagegeStatus === 3 ? 'gold' : 'inherit'
                }">
            {{ getStatusDescription(mortgage.mortagegeStatus ?? 0) }}</span>:סטטוס המשכנתא 
        </td>
      </tr>
      <tr>
        <td> התחייבות ניתנה לטובת בנק :{{ mortgage.toTheBank || ' ' }} </td>
      </tr>
      <tr>
          <td> :סכום התחייבות {{ mortgage.amount || '0.0' }}{{mortgage.amountType}}</td>
          
      </tr>
      <tr>
         <td>{{ mortgage.dateCommitment || '' }}:תאריך ההתחייבות</td>
      </tr>
      <tr>
           <td>מאיזו דרגה:{{ mortgage.levelMortagege || '' }}</td>
      </tr>
      <tr>
        <td>{{ mortgage.teanantNames || ' ' }}:על זכויות מי</td>
      </tr>
    </table>
  </div>
</ng-container>

<span>משכנתאות בהיסטוריה</span>
<ng-container *ngFor="let mortgage of mortgageDetails">
  <div  *ngIf="mortgage.mortagegeStatus === 3" class="mortgage-box" [ngStyle]="{
    'border': '2px solid greenyellow' }">
    <table>
      <tr>
        <td>
          <span class="status-box" (click)="toggleMortgageDetails(mortgage)" style="cursor: pointer" 
                [ngStyle]="{
                  'background-color': '#747774',
                  'color': 'gold'
                }">
            {{ getStatusDescription(mortgage.mortagegeStatus ?? 0) }}</span>:סטטוס המשכנתא 
        </td>
      </tr>
      <tr>
        <td> התחייבות ניתנה לטובת בנק :{{ mortgage.toTheBank || ' ' }} </td>
      </tr>
      <tr>
        <td> :סכום התחייבות {{ mortgage.amount || '0.0' }}{{mortgage.amountType}}</td>
      </tr>
      <tr>
        <td>{{ mortgage.dateCommitment || '' }}:תאריך ההתחייבות</td>
      </tr>
      <tr>
        <td>מאיזו דרגה:{{ mortgage.levelMortagege || '' }}</td>
      </tr>
      <tr>
        <td>{{ mortgage.teanantNames || ' ' }}:על זכויות מי</td>
      </tr>
    </table>

  </div>  
</ng-container>
</div>

  <div *ngIf="selectedMortgage" class="detailed-view"> 
    {{ selectedMortgage.mortagegesType}}
    <div 
    [ngClass]="{
        'status-1': selectedMortgage.mortagegeStatus === 1, 
        'status-2': selectedMortgage.mortagegeStatus === 2  }" 
       class="p-col-12 p-md-6 mortagege-detail">
   
   <strong>סטטוס המשכנתא:</strong> <span class="status-box" [ngStyle]="{
    'background-color': selectedMortgage.mortagegeStatus === 1 ? '#FCC008' : 
    selectedMortgage.mortagegeStatus === 2 ? '#5cb85c' : 
    selectedMortgage.mortagegeStatus === 3 ? '#747774' : '',
    'color': selectedMortgage.mortagegeStatus === 3 ? 'gold' : 'inherit'
  }">{{getStatusDescription(selectedMortgage.mortagegeStatus ?? 0)}}</span>
  </div>
  <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
    
    <strong> לטובת איזה בנק תינתן ההתחייבות?</strong> {{selectedMortgage?.toTheBank}} 
</div>

  <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
    
 
   <strong>מי נוטל המשכנתא?</strong> {{ selectedMortgage?.teanantNames }}<strong>האם התקבלו אישורים מכל הבעלים?</strong>  <i [ngClass]="selectedMortgage?.isApprovalCompany ? 'pi pi-check' : 'pi pi-times'"></i>
  </div>
    
    <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
    
           <strong>סכום ההתחייבות?</strong> {{selectedMortgage?.amountType}} {{ selectedMortgage?.amount || '0.0' }} 
  </div>
  <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
    
       <strong>האם יש הערות/התניות למשכנתא?</strong> {{ selectedMortgage.noteOrConditioning || '' }}
      </div>
      <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
       <strong>מאיזו דרגה?</strong> {{ selectedMortgage.levelMortagege || '' }}
  </div>
  <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
  
    <strong>האם נחתמו הוראות בלתי חוזרות?</strong> ???????????????
  </div>

    <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
    
    <strong>תאריך ההתחייבות:</strong> {{ selectedMortgage.dateCommitment  ||'' }}
  </div>
    <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  

     <p><strong>האם שולם עבור ההתחייבות סך:</strong> ?????????????????????</p>  
  </div>
  <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  

     <p><strong>הערה: </strong> {{ selectedMortgage.note  }}</p> 
  </div>
    <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
    
    <app-comment [objectId]="selectedMortgage.mortagegeId||0"></app-comment>
  </div>

  <div [ngClass]="{'status-1': selectedMortgage.mortagegeStatus === 1, 'status-2': selectedMortgage.mortagegeStatus === 2}" class="p-col-12 p-md-6 mortagege-detail">  
        <button pButton type="submit" label="עבר לאישור מנהל" (click)="Send()" class="p-button">העבר לאישור מנהל</button>
  </div>

  <div *ngIf="boolSend">
    <p-dialog 
      [modal]="true" 
      [(visible)]="visible" 
      [style]="{ width: '25rem', top: '10px' }" 
      [closable]="false" 
      [blockScroll]="true">
      <app-admin-approval 
       [mortagegeId]="selectedMortgage.mortagegeId||0"
       [ownerId]="ownerId"
       [apartmentId]="apartmentId"
        [comment]="commentText" 
      (close)="closeAdminApprovalDialog()">
      </app-admin-approval>
     </p-dialog>
   </div>

  </div>

