<div *ngIf="commentFlag">
    <div *ngFor="let commentPrev of commentsPrev" class="col-span-2 flex-container">
      <label for="projectDrawingFile" class="block font-bold mb-2 flex-item">הערה:
        {{commentPrev.commentText}}</label>
      <button (click)="deleteComment(commentPrev)"><i class="pi pi-trash"></i></button>
      <div *ngIf="commentPrev.isAddedToApprovalRights">
        <label for="isDiscounted" class="block font-bold mb-2">הוסף לאישור זכויות</label>
        <i class="pi pi-check"></i>
      </div>
      <div *ngIf="!commentPrev.isAddedToApprovalRights">
        <label for="isDiscounted" class="block font-bold mb-2">הוסף לאישור זכויות</label>
        <i class="pi pi-times"></i>
      </div>
    </div>
  </div>

  <div class="col-span-2 flex-container">
    <label for="note" class="block font-bold mb-2 flex-item" class="p-textarea">הוסף הערה</label>
    <textarea id="note" pTextarea rows="3" class="w-full flex-item" [(ngModel)]="comment.commentText"></textarea>
    <label for="isRishumBaitMeshutaf" class="block font-bold mb-2">הוסף לאישור זכויות</label>
    <input type="checkbox" id="isRishumBaitMeshutaf" class="custom-checkbox"
      [(ngModel)]="comment.isAddedToApprovalRights" />
    <button (click)="saveComment()"><i class="pi pi-plus"></i></button>
  </div>
