body {
  background-color: #F8F7EB;

}


.transparent-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.contractor-detail-edit {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #0aa3a1; */
  background: #e8f6f6;
  direction: rtl;
  margin-left: 15%;
  margin-right: 25%;
}

.edit-input {
  padding: 5px;
  width: 70%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background: #fff;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
}


.detail-title {
  font-weight: bold;
  color: #087977;
  margin-right: 5px;
  width: 30%;
  text-align: right;
  margin-bottom: 6px;
  font-size: 1em;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: right;
  width: 100%;
}

.header-title {
  color: #0aa3a1;
  font-weight: bold;
  text-align: right;
  width: 100%;
  display: block;
  font-size: 27px;
}

.tenant-box1 {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #0aa3a1;
  padding: 0;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  left: 3%;
  top: 23%
}

.tenant-box2 {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #0aa3a1;
  padding: 0;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  left: 3%;
  top: 32%
}




.tenant-button,
.tenant-search {
  border: none;
  background: none;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
}

.p-grid {
  height: 100%;
  width: 100%;
  padding: 2%;
}


  .icon-box {
    width: 50px;
    height: 100%;
    background-color: #1f4b4b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
  }



 
  .icon-box i {
    color: white;
    font-size: 1.5em;
  }
 
  
