<div>
  <!-- הוספה -->
  <!-- הוספה -->
  <!-- הוספה -->
  <div class="main-container">

    <div class="section-right" *ngIf="IsGetFirst">
      <div class="p-4 border border-gray-300 rounded-lg shadow-md w-[600px]" dir="rtl">

        <h3>פרויקט - הוספה</h3>

        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col gap-6">

            <label for="projectStatus" class="block font-bold">סטטוס פרויקט: </label>
            <button pButton type="submit" label="פעיל" class="p-button-primary w-full"></button>
            <!-- <input type="number" pInputText id="projectStatus" [(ngModel)]="project.projectStatus" /> -->
          </div>

          <div>
            <label for="contractingCompanyId" class="block font-bold">חברה קבלנית: {{ comNamesString}}</label>
          </div>

        </div>
        <div class="col-span-2">
          <label for="projectName" class="block font-bold">שם פרויקט: </label>
          <input type="text" pInputText id="projectName" [(ngModel)]="project.projectName" class="w-full" />
        </div>
        <div>
          <label for="city" class="block font-bold">עיר: </label>
          <!-- <input type="text" pInputText id="city" [(ngModel)]="project.city" class="w-full" /> -->
          <input type="text" pInputText id="city" [(ngModel)]="project.city" class="p-inputtext" />

        </div>


        <div class="col-span-2">
          <label for="neighborhood" class="block font-bold">שכונה: </label>
          <input type="text" pInputText id="neighborhood" [(ngModel)]="project.neighborhood" class="w-full" />
        </div>


        <div class="col-span-2">
          <label for="isPurchaseInTender" class="block font-bold">האם רכישה במסגרת המכרז? </label>
          <input type="checkbox" id="isPurchaseInTender" [(ngModel)]="project.isPurchaseInTender"
            class="custom-checkbox" />
        </div>

        <div class="col-span-2" *ngIf="project.isPurchaseInTender">
          <label for="dateWinningTender" class="block font-bold">תאריך זכיה במכרז: </label>
          <ng-container *ngIf="isEdit && project.dateWinningTender; else calendarTemplate">
            <input id="dateWinningTender" [(ngModel)]="project.dateWinningTender" (input)="onDateWinningTenderChange()"
              class="form-control" />
          </ng-container>
          <ng-template #calendarTemplate>
            <p-calendar id="dateWinningTender" [(ngModel)]="project.dateWinningTenderDisplay"
              dateFormat="dd/mm/yy"></p-calendar>
          </ng-template>
        </div>

        <div>
          <!-- צ'קבוקס לבחירה האם יש חוזה בפיתוח -->
          <div class="col-span-2">
            <label for="isContractDevelopment" class="block font-bold">האם יש חוזה בפיתוח? </label>
            <input type="checkbox" id="isContractDevelopment" [(ngModel)]="project.isContractDevelopment"
              class="custom-checkbox" />
          </div>

          <!-- חוזה בפיתוח -->
          <div class="col-span-2" *ngIf="project.isContractDevelopment">
            <label for="contractDevelopmentFile" class="block font-bold">קובץ חוזה בפיתוח: </label>
            <app-files [fileNameShow]="selectedFileNames" [contractorCode]="contractorId"
              [labelText]="'קובץ חוזה בפיתוח'" (uniqIdGenerated)="onUniqIdReceived($event)"
              (nameDocGenerated)="onNameDocReceived($event)"></app-files>
          </div>

          <!-- <div class="col-span-2">
          <label for="isContractDevelopment" class="block font-bold">האם יש חוזה בפיתוח? </label>
          <input type="checkbox" id="isContractDevelopment" [(ngModel)]="project.isContractDevelopment"
            class="custom-checkbox" />
        </div>
        <div class="col-span-2" *ngIf="project.isContractDevelopment">
          <label for="contractDevelopmentFile" class="block font-bold">קובץ חוזה בפיתוח: </label>
          <input type="file" id="contractDevelopmentFile" (change)="onFilesSelected($event)" class="w-full" multiple />
        </div>
        <app-files
        [fileNameShow]="selectedFileNames"
        [contractorCode]="contractorId"
        [fileList]="selectedFiles || undefined"
        (uniqIdGenerated)="onUniqIdReceived($event)"
        >
      </app-files> -->
          <!-- <div class="col-span-2" *ngIf="project.isContractDevelopment">
          <label for="contractDevelopmentFile" class="block font-bold">קובץ חוזה בפיתוח: </label>
          <input
            type="file"
            id="contractDevelopmentFile"
            (change)="onFilesSelected($event)"
            class="w-full"
            multiple
          />
        </div>
        <app-files
        [fileNameShow]="selectedFileNames"
        [contractorCode]="contractorId"
        (uniqIdGenerated)="onUniqIdReceived($event)"
      ></app-files> -->

          <div class="col-span-2" *ngIf="project.isContractDevelopment">
            <label for="numberHakiraContract" class="block font-bold mb-2">מספר חוזה חכירה: </label>
            <input type="text" pInputText id="numberHakiraContract" [(ngModel)]="project.numberHakiraContract"
              class="w-full" />
          </div>

          <div class="col-span-2">
            <label for="developmentPeriodEndDate" class="block font-bold">תאריך סיום תקופת פיתוח:</label>
            <ng-container *ngIf="isEdit && project.developmentPeriodEndDate; else calendarTemplate2">
              <input id="developmentPeriodEndDate" [(ngModel)]="project.developmentPeriodEndDate"
                (input)="onDevelopmentPeriodEndDateChange()" class="form-control" />
            </ng-container>
            <ng-template #calendarTemplate2>
              <p-calendar id="developmentPeriodEndDate" [(ngModel)]="project.developmentPeriodEndDateDisplay"
                dateFormat="dd/mm/yy"></p-calendar>
            </ng-template>
          </div>

          <div class="col-span-2">
            <label for="isDiscounted" class="block font-bold mb-2">האם בהנחה: </label>
            <input type="checkbox" id="isDiscounted" [(ngModel)]="project.isDiscounted" class="custom-checkbox" />
          </div>

          <div class="col-span-2 flex-container">
            <label for="isHachiraContract" class="block font-bold mb-2 flex-item">האם יש חוזה חכירה: </label>
            <input type="checkbox" id="isHachiraContract" [(ngModel)]="project.isHachiraContract"
              class="custom-checkbox flex-item" />
          </div>

          <div class="col-span-2 flex-container" *ngIf="project.isHachiraContract">
            <label for="isDiscountedHachira" class="block font-bold mb-2 flex-item">האם חכירה בהנחה: </label>
            <input type="checkbox" id="isDiscountedHachira" [(ngModel)]="project.isDiscountedHachira"
              class="custom-checkbox flex-item" />
          </div>
          <!-- חוזה חכירה -->
          <div class="col-span-2" *ngIf="project.isHachiraContract">
            <label for="hachiraContractFile" class="block font-bold">קובץ חוזה חכירה: </label>
            <app-files [fileNameShow]="selectedFileNames" [contractorCode]="contractorId"
              [labelText]="'קובץ חוזה חכירה'" (uniqIdGenerated)="onUniqIdReceived($event)"
              (nameDocGenerated)="onNameDocReceived($event)"></app-files>
          </div>
          <div class="col-span-2">
            <label for="hachiraContractEndDate" class="block font-bold">תאריך סיום החוזה חכירה:</label>
            <ng-container *ngIf="isEdit && project.hachiraContractEndDate; else calendarTemplate6">
              <input id="hachiraContractEndDate" [(ngModel)]="project.hachiraContractEndDate"
                (input)="onHachiraContractEndDateChange()" class="form-control" />
            </ng-container>
            <ng-template #calendarTemplate6>
              <p-calendar id="hachiraContractEndDate" [(ngModel)]="project.hachiraContractEndDateDisplay"
                dateFormat="dd/mm/yy"></p-calendar>
            </ng-template>
          </div>

          <div class="col-span-2 flex-container">
            <label for="isPurchaseTaxPaymentConfirmation" class="block font-bold mb-2 flex-item">אישור תשלום מס רכישה:
            </label>
            <input type="checkbox" id="isPurchaseTaxPaymentConfirmation"
              [(ngModel)]="project.isPurchaseTaxPaymentConfirmation" class="custom-checkbox flex-item" />
          </div>

          <div class="col-span-2" *ngIf="project.isPurchaseTaxPaymentConfirmation">
            <label for="purchaseTaxPaymentConfirmationFile" class="block font-bold">קובץ אישור תשלום מס רכישה: </label>
            <!-- <input type="file" id="purchaseTaxPaymentConfirmationFile"
              (change)="onFilesSelected($event, 'purchaseTaxPaymentConfirmationFile')" class="w-full" multiple /> -->
          </div>
          <!-- <app-files [fileNameShow]="selectedFileNames" [contractorCode]="contractorId"
            [fileList]="selectedFiles || undefined" [labelText]="getLabelText('purchaseTaxPaymentConfirmationFile')"
            (uniqIdGenerated)="onUniqIdReceived($event)" (nameDocGenerated)="onNameDocReceived($event)"></app-files> -->
          <!-- <div class="col-span-2">
          <label for="isHachiraContract" class="block font-bold mb-2">האם יש חוזה חכירה: </label>
          <p-checkbox id="isHachiraContract" [(ngModel)]="project.isHachiraContract" binary="true"></p-checkbox>
        </div>

        <div class="col-span-2" *ngIf="project.isHachiraContract">
          <label for="isDiscountedHachira" class="block font-bold mb-2">האם חכירה בהנחה: </label>
          <p-checkbox id="isDiscountedHachira" [(ngModel)]="project.isDiscountedHachira" binary="true"></p-checkbox>
        </div>

        <div class="col-span-2" *ngIf="project.isHachiraContract">
          <label for="hachiraContractFile" class="block font-bold mb-2">קובץ חוזה חכירה: </label>
          <input type="file" pInputText id="hachiraContractFile" [(ngModel)]="project.hachiraContractFile"
            class="w-full" />
        </div>
        <div class="col-span-2" *ngIf="project.isHachiraContract">
          <label for="hachiraContractEndDate" class="block font-bold mb-2">תאריך סיום חוזה חכירה: </label>
          <p-calendar id="hachiraContractEndDate" [(ngModel)]="project.hachiraContractEndDate" dateFormat="dd/mm/yy"
            class="w-full"></p-calendar>
        </div>


        <div class="col-span-2">
          <label for="isPurchaseTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס רכישה: </label>
          <p-checkbox id="isPurchaseTaxPaymentConfirmation" [(ngModel)]="project.isPurchaseTaxPaymentConfirmation"
            binary="true"></p-checkbox>
        </div>

        <div class="col-span-2" *ngIf="project.isPurchaseTaxPaymentConfirmation">
          <label for="purchaseTaxPaymentConfirmationFile" class="block font-bold mb-2">קובץ אישור תשלום מס רכישה:
          </label>
          <input type="file" pInputText id="purchaseTaxPaymentConfirmationFile"
            [(ngModel)]="project.purchaseTaxPaymentConfirmationFile" class="w-full" />
        </div> -->
          <!-- <div class="col-span-2">
          <label for="isAppreciationTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס שבח: </label>
          <p-checkbox id="isAppreciationTaxPaymentConfirmation"
            [(ngModel)]="project.isAppreciationTaxPaymentConfirmation" binary="true"></p-checkbox>
        </div>

        <div class="col-span-2" *ngIf="project.isAppreciationTaxPaymentConfirmation">
          <label for="appreciationTaxPaymentConfirmationFile" class="block font-bold mb-2"></label>
          <input type="file" pInputText id="appreciationTaxPaymentConfirmationFile"
            [(ngModel)]="project.appreciationTaxPaymentConfirmationFile" class="w-full" />
        </div>

        <div class="col-span-2">
          <label for="isSalesTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס מכירה: </label>
          <p-checkbox id="isSalesTaxPaymentConfirmation" [(ngModel)]="project.isSalesTaxPaymentConfirmation"
            binary="true"></p-checkbox>
        </div>

        <div class="col-span-2" *ngIf="project.isSalesTaxPaymentConfirmation">
          <label for="salesTaxPaymentConfirmationFile" class="block font-bold mb-2"></label>
          <input type="file" pInputText id="salesTaxPaymentConfirmationFile"
            [(ngModel)]="project.salesTaxPaymentConfirmationFile" class="w-full" />
        </div>

        <div class="col-span-2">
          <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2">ייפוי כוח ב"ח לעורך דין מטפל: </label>
          <input type="file" pInputText id="powerOfAttorneyToLawyerFile"
            [(ngModel)]="project.powerOfAttorneyToLawyerFile" class="w-full" />
        </div>

        <div>
          <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2">ת. האגד: </label>
          <i class="pi pi-download"></i>
        </div>

        <div>
          <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2">טופס 50: </label>
          <i class="pi pi-download"></i>
        </div>

        <div class="col-span-2">
          <label for="lendingBank" class="block font-bold mb-2">בנק מלווה: </label>
          <select id="lendingBank" [(ngModel)]="lendingBankName" class="w-full">
            <option *ngFor="let bank of filteredBanks" [value]="bank.bankText">{{ bank.bankText }}</option>
          </select>
        </div> -->

          <div class="col-span-2">
            <label for="isAppreciationTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס שבח: </label>
            <input type="checkbox" id="isAppreciationTaxPaymentConfirmation"
              [(ngModel)]="project.isAppreciationTaxPaymentConfirmation" class="custom-checkbox" />
          </div>

          <div class="col-span-2" *ngIf="project.isAppreciationTaxPaymentConfirmation">
            <label for="appreciationTaxPaymentConfirmationFile" class="block font-bold">קובץ אישור תשלום מס שבח:
            </label>
            <!-- <input type="file" id="appreciationTaxPaymentConfirmationFile"
              (change)="onFilesSelected($event, 'appreciationTaxPaymentConfirmationFile')" class="w-full" multiple /> -->
          </div>
          <!-- <app-files [fileNameShow]="selectedFileNames" [contractorCode]="contractorId"
            [fileList]="selectedFiles || undefined" [labelText]="getLabelText('appreciationTaxPaymentConfirmationFile')"
            (uniqIdGenerated)="onUniqIdReceived($event)" (nameDocGenerated)="onNameDocReceived($event)"></app-files> -->

          <div class="col-span-2">
            <label for="isSalesTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס מכירה: </label>
            <input type="checkbox" id="isSalesTaxPaymentConfirmation"
              [(ngModel)]="project.isSalesTaxPaymentConfirmation" class="custom-checkbox" />
          </div>

          <div class="col-span-2 flex-container" *ngIf="project.isSalesTaxPaymentConfirmation">
            <label for="salesTaxPaymentConfirmationFile" class="block font-bold mb-2 flex-item">קובץ אישור תשלום מס
              מכירה:
            </label>
            <input type="file" id="salesTaxPaymentConfirmationFile"
              [(ngModel)]="project.salesTaxPaymentConfirmationFile" class="w-full flex-item" multiple />
          </div>

          <div class="col-span-2 flex-container">
            <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2 flex-item">ייפוי כוח ב"ח לעורך דין
              מטפל:
            </label>
            <input type="file" id="powerOfAttorneyToLawyerFile" [(ngModel)]="project.powerOfAttorneyToLawyerFile"
              class="w-full flex-item" multiple />
          </div>

          <div>
            <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2" multiple>ת. האגד: </label>
            <i class="pi pi-download"></i>
          </div>

          <div>
            <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2" multiple>טופס 50: </label>
            <i class="pi pi-download"></i>
          </div>

          <div class="col-span-2">
            <label for="lendingBank" class="block font-bold mb-2">בנק מלווה: </label>
            <select id="lendingBank" [(ngModel)]="lendingBankName" class="w-full">
              <option *ngFor="let bank of filteredBanks" [value]="bank.bankText">{{ bank.bankText }}</option>
            </select>
          </div>

         
            <div class="contractor-box">
              <div class="icon-box">
                <i class="pi pi-align-justify"></i>
              </div>
              <button class="contractor-button" (click)="moveManger()"> העברה למנהל </button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- טופס הצגת פרויקט -->
    <!-- טופס הצגת פרויקט -->
    <!-- טופס הצגת פרויקט -->

    <div class="main-container">
      <div class="section-right" *ngIf="IsGetSecond">
        <div class="p-4 border border-gray-300 rounded-lg shadow-md w-[600px]" dir="rtl">

          <div>
            <!-- <label for="contractingCompanyId" class="block font-bold">פרויקט: {{project.projectName}}</label> -->
            <h4>פרויקט: {{project.projectName}}</h4>
          </div>

          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-6">
              <label for="projectStatus" class="block font-bold">סטטוס פרויקט:</label>
              <button pButton type="submit" label="פעיל" class="p-button-primary w-full"
                *ngIf="project.projectStatus"></button>
              <button pButton type="submit" label="היסטורי" class="p-button-primary w-full"
                *ngIf="!project.projectStatus"></button>
            </div>

            <div>
              <label for="contractingCompanyId" class="block font-bold">חברה קבלנית:
                {{ comNamesString }}</label>
            </div>

            <div class="col-span-2">
              <label for="projectName" class="block font-bold">שם פרויקט: {{project.projectName}}</label>
            </div>

            <div>
              <label for="city" class="block font-bold">עיר: {{project.city}}</label>
            </div>
            <div class="col-span-2">
              <button pButton type="button" label="הצג נתונים נוספים" class="p-button-secondary w-full my-4"
                (click)="toggleAdditionalFields()"></button>
            </div>

            <div *ngIf="showAdditionalFields">

              <div class="col-span-2">
                <label for="neighborhood" class="block font-bold">שכונה: {{project.neighborhood}}</label>
              </div>

              <div class="col-span-2">
                <div *ngIf="project.isPurchaseInTender">
                  <label for="isPurchaseInTender" class="block font-bold">האם רכישה במסגרת המכרז?</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isPurchaseInTender">
                  <label for="isPurchaseInTender" class="block font-bold">האם רכישה במסגרת המכרז?</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>
              <div class="col-span-2">
                <label for="dateWinningTender" class="block font-bold" [hidden]="!project.isPurchaseInTender">תאריך זכיה
                  במכרז:</label>
                <input type="text" id="dateWinningTender" class="block font-bold" [hidden]="!project.isPurchaseInTender"
                  [(ngModel)]="project.dateWinningTender" />
              </div>

              <!-- <div class="col-span-2">
                <label for="dateWinningTender" class="block font-bold" [hidden]="!project.isPurchaseInTender">תאריך זכיה
                  במכרז:</label>
                <input type="date" id="dateWinningTender" class="block font-bold" [hidden]="!project.isPurchaseInTender"
                  [(ngModel)]="project.dateWinningTender" />
              </div>
               -->

              <div class="col-span-2">
                <div *ngIf="project.isContractDevelopment">
                  <label for="isContractDevelopment" class="block font-bold">האם יש חוזה בפיתוח?</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isContractDevelopment">
                  <label for="isContractDevelopment" class="block font-bold">האם יש חוזה בפיתוח?</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2" *ngIf="project.isContractDevelopment">
                <label for="contractDevelopmentFile" class="block font-bold">קובץ חוזה בפיתוח</label>
                <i class="pi pi-download"></i>
                <!-- <input type="file" id="contractDevelopmentFile" [(ngModel)]="project.contractDevelopmentFile" class="w-full" /> -->
              </div>

              <div class="col-span-2">
                <label for="isPurchaseInTender" class="block font-bold" [hidden]="!project.isContractDevelopment">מספר
                  חוזה
                  חכירה:</label>
                <label for="isPurchaseInTender" class="block font-bold"
                  [hidden]="!project.isContractDevelopment">{{project.numberHakiraContract}}</label>
              </div>

              <div class="col-span-2">
                <label for="isPurchaseInTender" class="block font-bold" [hidden]="!project.isContractDevelopment">תאריך
                  סיום
                  תקופת הפיתוח:</label>
                <label for="isPurchaseInTender" class="block font-bold"
                  [hidden]="!project.isContractDevelopment">{{project.developmentPeriodEndDate}}</label>
              </div>

              <div class="col-span-2">
                <div *ngIf="project.isDiscounted">
                  <label for="isDiscounted" class="block font-bold mb-2">האם בהנחה:</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isDiscounted">
                  <label for="isDiscounted" class="block font-bold mb-2">האם בהנחה:</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2">
                <div *ngIf="project.isHachiraContract">
                  <label for="isHachiraContract" class="block font-bold mb-2">האם יש חוזה חכירה:</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isHachiraContract">
                  <label for="isHachiraContract" class="block font-bold mb-2">האם יש חוזה חכירה:</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2" *ngIf="project.isHachiraContract">
                <div *ngIf="project.isDiscountedHachira">
                  <label for="isDiscountedHachira" class="block font-bold mb-2">האם חכירה בהנחה:</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isDiscountedHachira">
                  <label for="isDiscountedHachira" class="block font-bold mb-2">האם חכירה בהנחה:</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2" *ngIf="project.isHachiraContract">
                <label for="hachiraContractFile" class="block font-bold mb-2">קובץ חוזה חכירה:</label>
                <i class="pi pi-download"></i>
                <!-- <input type="file" pInputText id="hachiraContractFile" [(ngModel)]="project.hachiraContractFile" class="w-full" /> -->
              </div>

              <div class="col-span-2">
                <label for="isPurchaseInTender" class="block font-bold" [hidden]="!project.isHachiraContract">תאריך סיום
                  חוזה
                  חכירה:</label>
                <label for="isPurchaseInTender" class="block font-bold"
                  [hidden]="!project.isHachiraContract">{{project.hachiraContractEndDate}}</label>
              </div>

              <div class="col-span-2">
                <div *ngIf="project.isPurchaseTaxPaymentConfirmation">
                  <label for="isPurchaseTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס
                    רכישה:</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isPurchaseTaxPaymentConfirmation">
                  <label for="isPurchaseTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס
                    רכישה:</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2" *ngIf="project.isPurchaseTaxPaymentConfirmation">
                <label for="purchaseTaxPaymentConfirmationFile" class="block font-bold mb-2">קובץ אישור תשלום מס
                  רכישה:</label>
                <i class="pi pi-download"></i>
                <!-- <input type="file" pInputText id="purchaseTaxPaymentConfirmationFile" [(ngModel)]="project.purchaseTaxPaymentConfirmationFile" class="w-full" /> -->
              </div>

              <div class="col-span-2">
                <div *ngIf="project.isAppreciationTaxPaymentConfirmation">
                  <label for="isAppreciationTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס
                    שבח:</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isAppreciationTaxPaymentConfirmation">
                  <label for="isAppreciationTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס
                    שבח:</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2">
                <div *ngIf="project.isSalesTaxPaymentConfirmation">
                  <label for="isSalesTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס מכירה:</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!project.isSalesTaxPaymentConfirmation">
                  <label for="isSalesTaxPaymentConfirmation" class="block font-bold mb-2">אישור תשלום מס מכירה:</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>

              <div class="col-span-2">
                <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2">ייפוי כוח ב"ח לעורך דין
                  מטפל</label>
                <i class="pi pi-download"></i>
                <!-- <input type="file" pInputText id="powerOfAttorneyToLawyerFile" [(ngModel)]="project.powerOfAttorneyToLawyerFile"  class="w-full" /> -->
              </div>
            </div>

            <div>
              <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2">ת. האגד: </label>
              <i class="pi pi-download"></i>
            </div>

            <div>
              <label for="powerOfAttorneyToLawyerFile" class="block font-bold mb-2">טופס 50: </label>
              <i class="pi pi-download"></i>
            </div>

            <div class="col-span-2">
              <label for="lendingBank" class="block font-bold mb-2">בנק מלווה: {{ nameBank }}</label>
            </div>

            <div class="col-span-2">
              <label for="fullAssetIdentificationBeforePerselasia" class="block font-bold mb-2"> זיהוי הנכס מלא לפני
                פרצלציה:
                {{project.fullAssetIdentificationBeforePerselasia}}</label>
            </div>

            <div class="col-span-2">
              <label for="anotherIdentification" class="block font-bold mb-2">זיהוי נוסף:
                {{project.anotherIdentification}}</label>
            </div>

            <div class="col-span-2">
              <div *ngIf="project.isPerselasia">
                <label for="isPerselasia" class="block font-bold mb-2">האם בוצעה פרצלציה:</label>
                <i class="pi pi-check"></i>
              </div>
              <div *ngIf="!project.isPerselasia">
                <label for="isPerselasia" class="block font-bold mb-2">האם בוצעה פרצלציה:</label>
                <i class="pi pi-times"></i>
              </div>
            </div>

            <div class="col-span-2">
              <label for="fullAssetIdentificationAfterPerselasia" class="block font-bold mb-2"> זיהוי נכס מלא לאחר
                פרצלציה:
                {{project.fullAssetIdentificationAfterPerselasia}}</label>
            </div>

            <div class="col-span-2">
              <div *ngIf="project.isRishumBaitMeshutafStarted">
                <label for="isRishumBaitMeshutafStarted" class="block font-bold mb-2">האם החל רישום בית משותף:</label>
                <i class="pi pi-check"></i>
              </div>
              <div *ngIf="!project.isRishumBaitMeshutafStarted">
                <label for="isRishumBaitMeshutafStarted" class="block font-bold mb-2">האם החל רישום בית משותף:</label>
                <i class="pi pi-times"></i>
              </div>
            </div>

            <div class="col-span-2">
              <div *ngIf="project.isPrepareWarningComment">
                <label for="isPrepareWarningComment" class="block font-bold mb-2">יש להכין ניירת להערות אזהרה?</label>
                <i class="pi pi-check"></i>
              </div>
              <div *ngIf="!project.isPrepareWarningComment">
                <label for="isPrepareWarningComment" class="block font-bold mb-2">יש להכין ניירת להערות אזהרה?</label>
                <i class="pi pi-times"></i>
              </div>
            </div>

            <div class="col-span-2">
              <div *ngIf="project.isRishumBaitMeshutaf">
                <label for="isRishumBaitMeshutaf" class="block font-bold mb-2">האם נרשם בית משותף?</label>
                <i class="pi pi-check"></i>
              </div>
              <div *ngIf="!project.isRishumBaitMeshutaf">
                <label for="isRishumBaitMeshutaf" class="block font-bold mb-2">האם נרשם בית משותף?</label>
                <i class="pi pi-times"></i>
              </div>
            </div>

            <div class="col-span-2">
              <div *ngIf="project.isTookJointListingExpenses">
                <label for="isTookJointListingExpenses" class="block font-bold mb-2">האם נדרשו הוצאות רישום
                  משותף:</label>
                <i class="pi pi-check"></i>
              </div>
              <div *ngIf="!project.isTookJointListingExpenses">
                <label for="isTookJointListingExpenses" class="block font-bold mb-2">האם נדרשו הוצאות רישום
                  משותף:</label>
                <i class="pi pi-times"></i>
              </div>
            </div>
            <div class="col-span-2" *ngIf="project.isTookJointListingExpenses">
              <div class="col-span-2">
                <label for="principalAmount" class="block font-bold mb-2">סכום קרן: {{project.principalAmount}}</label>
              </div>
            </div>

            <div class="col-span-2">
              <label for="landOwnershipId" class="block font-bold mb-2">על שם מי רשומה בעלות בקרקע: {{ landOwnerShipName
                }}</label>
            </div>

            <div class="flex-container">
              <div class="flex-item">
                <label for="mechozReshutMass" class="block font-bold mb-2">מחוז רשות המס המטפלת בפרויקט:
                  {{project.mechozReshutMass}}</label>
              </div>
              <div class="flex-item">
                <label for="mechozReshutMassAddress" class="block font-bold mb-2">כתובת:
                  {{project.mechozReshutMassAddress}}</label>
              </div>
            </div>

            <div class="flex-container">
              <div class="flex-item">
                <label for="mechozMenaelMekarkaey" class="block font-bold mb-2">מחוז מנהל מקרקעי ישראל המטפל בפרויקט:
                  {{project.mechozMenaelMekarkaey}}</label>
              </div>
              <div class="flex-item">
                <label for="mechozMenaelMekarkaeyAddress" class="block font-bold mb-2">כתובת:
                  {{project.mechozMenaelMekarkaeyAddress}}</label>
              </div>
            </div>

            <div class="flex-container">
              <div class="flex-item">
                <label for="mechozTabu" class="block font-bold mb-2">מחוז טאבו המטפל בפרויקט:
                  {{project.mechozTabu}}</label>
              </div>
              <div class="flex-item">
                <label for="mechozTabuAddress" class="block font-bold mb-2">כתובת: {{project.mechozTabuAddress}}</label>
              </div>
            </div>

            <div class="col-span-2">
              <div *ngIf="project.projectDrawingFile">
                <label for="projectDrawingFile" class="block font-bold mb-2"> תשריט העמדה על הפרויקט</label>
                <i class="pi pi-check"></i>
              </div>
              <div *ngIf="!project.projectDrawingFile">
                <label for="projectDrawingFile" class="block font-bold mb-2"> תשריט העמדה על הפרויקט</label>
                <i class="pi pi-times"></i>
              </div>
            </div>

            <div *ngIf="commentFlag">
              <div *ngFor="let commentPrev of commentsPrev" class="col-span-2 flex-container">
                <label for="projectDrawingFile" class="block font-bold mb-2 flex-item">הערה:
                  {{commentPrev.commentText}}</label>
                <button (click)="deleteComment(commentPrev)"><i class="pi pi-trash"></i></button>
                <div *ngIf="commentPrev.isAddedToApprovalRights">
                  <label for="isDiscounted" class="block font-bold mb-2">הוסף לאישור זכויות</label>
                  <i class="pi pi-check"></i>
                </div>
                <div *ngIf="!commentPrev.isAddedToApprovalRights">
                  <label for="isDiscounted" class="block font-bold mb-2">הוסף לאישור זכויות</label>
                  <i class="pi pi-times"></i>
                </div>
              </div>
            </div>

            <div class="col-span-2 flex-container">
              <label for="note" class="block font-bold mb-2 flex-item" class="p-textarea">הוסף הערה</label>
              <textarea id="note" pTextarea rows="3" class="w-full flex-item"
                [(ngModel)]="comment.commentText"></textarea>
              <label for="isRishumBaitMeshutaf" class="block font-bold mb-2">הוסף לאישור זכויות</label>
              <input type="checkbox" id="isRishumBaitMeshutaf" class="custom-checkbox"
                [(ngModel)]="comment.isAddedToApprovalRights" />
              <button (click)="saveComment()"><i class="pi pi-plus"></i></button>
            </div>

          </div>

        </div>
      </div>

      <!-- <div class="section-left" *ngIf="IsGetFirst">
      <div class="button-container">
        <div class="contractor-box-container">
      </div>
    </div> -->

      <div class="section-left" *ngIf="!IsGetFirst">
        <div class="button-container">
          <div class="contractor-box-container">
            <!-- <div class="contractor-box">
        <div class="icon-box">
          <i class="pi pi-search"></i>
        </div>
        <p-autocomplete class="contractor-search" (onSelect)="onSelectProject($event)" [suggestions]="filteredProjects" (completeMethod)="filterProject($event)" optionLabel="name" forceSelection="true" field="projectName" placeholder="חפש פרויקט"/>
      </div> -->

            <div class="contractor-box">
              <div class="icon-box">
                <i class="pi pi-pencil"></i>
              </div>
              <button class="contractor-button" (click)="lookingForBuilding()">חפש</button>
            </div>

          <div class="contractor-box">
            <div class="icon-box">
              <i class="pi pi-pencil"></i>
            </div>
            <button class="contractor-button" (click)="update()"> ערוך פרויקט </button>
          </div>
          <div class="contractor-box">
            <div class="icon-box">
              <i class="pi pi-plus"></i>
            </div>
            <button class="contractor-button" (click)="addBuilding()"> הוסף בניין</button>
          </div>
          <div class="contractor-box">
            <div class="icon-box" dir="ltr">
              <i class="pi pi-align-justify"></i>
            </div>
            <button class="contractor-button"  (click)="projectList()">רשימת בניינים</button>
            <div *ngIf="flagList" >
              <select (change)="onBuildSelect($event)">
                <option *ngFor="let building of BuildingActive" [value]="building.buildingNumber">
                  {{ building.buildingNumber }}
                </option>
              </select>
            </div>
          </div>
          <div class="contractor-box">
            <div class="icon-box">
              <i class="pi pi-align-justify"></i>
            </div>
            <button class="contractor-button" (click)="getDeleteBuildings()"> בנינים שנמחקו </button>

          </div>

          <div class="contractor-box">
            <div class="icon-box">
              <i class="pi pi-plus"></i>
            </div>

            <div class="contractor-box">
              <div class="icon-box">
                <i class="pi pi-plus"></i>
              </div>
              <button class="contractor-button" (click)="moveMangerBulding()"> העברה למנהל </button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- <div *ngIf="IsGetFirst">
    <h1>Get Project by Name</h1>
    <input [(ngModel)]="projectName" placeholder="Enter project name">
    <button (click)="getProject()">Get Project</button>
  </div> -->

  </div>


  <!-- <div></div>
    <h1>Get Project by Name</h1>
    <input [(ngModel)]="projectName" placeholder="Enter project name">
    <button (click)="getProject()">Get Project</button> -->
  <!-- <div *ngIf="project">
    <h2>Project Details:</h2>
    <p>Name: {{ project.projectName }}</p>
    <p>ID: {{ project.projectId }}</p>
  </div> -->
  <!-- <div class="flex-container">
  <div class="flex-item">
    <label for="collectionExpensesFrom1" class="block font-bold mb-2">הוצאות גבייה מיום: {{project.collectionExpensesFrom1}}</label>
  </div>
  <div class="flex-item">
    <label for="collectionAmount1" class="block font-bold mb-2">בסכום: {{project.collectionAmount1}}</label>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <label for="collectionExpensesFrom2" class="block font-bold mb-2">הוצאות גבייה מיום: {{project.collectionExpensesFrom2}}</label>
  </div>
  <div class="flex-item">
    <label for="collectionAmount2" class="block font-bold mb-2">בסכום: {{project.collectionAmount2}}</label>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <label for="collectionExpensesFrom3" class="block font-bold mb-2">הוצאות גבייה מיום: {{project.collectionExpensesFrom3}}</label>
  </div>
  <div class="flex-item">
    <label for="collectionAmount3" class="block font-bold mb-2">בסכום: {{project.collectionAmount3}}</label>
  </div>
</div> -->
  <!-- <div class="col-span-2">
  <label for="bloc" class="block font-bold mb-2">גוש: {{project.bloc}}</label>
</div>

<div class="col-span-2">
  <label for="smooth" class="block font-bold mb-2">:חלקה {{project.smooth}}</label>
</div>

<div class="col-span-2">
  <label for="smothArea" class="block font-bold mb-2">שטח החלקה: {{project.smothArea}}</label>
</div>
</div> -->
  <!-- <select id="lendingBank" [(ngModel)]="lendingBankName" class="w-full">
      <option *ngFor="let bank of filteredBanks" [value]="bank.lastNameBank">{{ bank.lastNameBank }}</option>
    </select> -->
