<div dir="rtl">
    <button (click)="createTenantForm()" class="buttonStyle"> {{ buttonText }}</button>
    <div class="contractors-container">
        <div *ngFor="let form of TenantDTO; let i = index" dir="rtl" class="dropdown-container">
            <form [formGroup]="form" dir="rtl">
                <div class="p-fluid" dir="rtl">
                    <!-- סטטוס פעיל -->
                    <!-- <div class="p-col-12 p-md-6 contractor-detail TenantStatus1" dir="rtl">
                        סטטוס: פעיל
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteTenantForm(i)"></button>
                    </div> -->
                    <div class="p-col-12 p-md-6 contractor-detail">
                        <label class="detail-title">:סטטוס</label>
                        <span class="status-box">
                            {{ getTenantStatusString(1) }}
                        </span>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteTenantForm(i)"></button>
                    </div>

                    <!-- שדות של שם פרטי ושם משפחה -->
                    <div class="p-col-12 p-md-6 contractor-detail">
                        <label for="FirstName" class="labelStyle">שם פרטי</label>
                        <input id="FirstName" pInputText formControlName="FirstName" type="text" />
                        <label for="LastName" class="labelStyle">שם משפחה</label>
                        <input id="LastName" pInputText formControlName="LastName" type="text" />

                        <!-- סוג זהות -->
                        <!-- <label for="IdentityType" class="detail-title" class="labelStyle">סוג זהות:</label>
                        <div class="flex flex-wrap gap-4">
                            <div class="flex items-center" *ngFor="let type of identityTypes">
                                <p-radioButton name="IdentityType" [value]="type.value" formControlName="IdentityType"
                                    [inputId]="type.value"></p-radioButton>
                                <label [for]="type.value" class="ml-2">{{ type.label }}</label>
                            </div>
                        </div>
                        <div *ngIf="form.get('IdentityType')?.invalid && form.get('IdentityType')?.touched">
                            <small class="p-error">נא לבחור סוג זהות</small>
                        </div> -->

                        <label for="IdentityType" class=" labelStyle">סוג זהות:</label>
                        <div class="flex flex-wrap gap-4">
                            <div class="flex items-center" *ngFor="let type of identityTypes">
                                <label class="custom-radio ml-2" [for]="type.value">
                                    <input type="radio" name="IdentityType" [id]="type.value" [value]="type.value"
                                        formControlName="IdentityType" />
                                    <span class="radio-circle"></span>
                                    {{ type.label }}
                                </label>
                            </div>
                        </div>
                        <div *ngIf="form.get('IdentityType')?.invalid && form.get('IdentityType')?.touched">
                            <small class="p-error">נא לבחור סוג זהות</small>
                        </div>

                    </div>

                    <!-- שדות נוספים אם סוג הזהות הוא לא נוטריון או קוררנטיון -->
                    <div *ngIf="form.get('IdentityType')?.value == 2" class="p-col-12 p-md-6 contractor-detail">
                        <label for="USName" class="labelStyle">שם באנגלית</label>
                        <input id="USName" pInputText formControlName="USName" type="text" />
                        <label for="IdentityFromCountry" class="labelStyle">מדינה:</label>
                        <input id="IdentityFromCountry" pInputText formControlName="IdentityFromCountry" type="text" />
                    </div>

                    <!-- שדות של מספר תעודת זהות וקובץ -->
                    <div class="p-col-12 p-md-6 contractor-detail">
                        <label for="TenantIdentity" class="labelStyle">מספר ת.ז/דרכון/מ.ר.</label>
                        <input id="TenantIdentity" pInputText formControlName="TenantIdentity" type="text" />
                        <label for="IdFileName" class="labelStyle">קובץ</label>
                        <input id="IdFileName" pInputText formControlName="IdFileName" type="text" />

                        <label for="PartAsset" class="labelStyle">חלק בנכס:</label>
                        <input id="PartAsset" pInputText formControlName="PartAsset" type="number" />
                    </div>

                    <!-- שדה של "זהוי קודם" (אם יש) -->
                    <!-- <div class="p-col-12 p-md-6 contractor-detail">
                        <label for="PreviousTenantId" class="labelStyle" >זהוי קודם:</label>
                        <div class="card flex justify-center">
                            <p-toggleswitch formControlName="PreviousTenantId"></p-toggleswitch>
                        </div>
                    </div> -->
                    <div class="p-col-12 p-md-6 contractor-detail">
                        <div class="card-row">
                            <div class="switch-with-label">
                                <label class="form-label title">המבקשים העבירו צילום ת.ז </label>
                                <label class="toggle-switch">
                                    <input type="checkbox" formControlName="PreviousTenantId"
                                        (change)="updateLabels()" />
                                    <span class="slider">
                                        <span class="slider-text">{{ PreviousTenantId ? 'כן' : 'לא' }}</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>





                    <!-- שדות אם יש זהוי קודם -->
                    <div *ngIf="form.get('PreviousTenantId')?.value !== null && form.get('PreviousTenantId')?.value"
                        class="p-col-12 p-md-6 contractor-detail">
                        <label for="IdentityTypePrevious" class="labelStyle">סוג התעודה :</label>
                        <p-dropdown [options]="IdentityTypePrevious" formControlName="IdentityTypePrevious"
                            optionLabel="label" optionValue="value" placeholder="בחר סוג זהות"
                            class="w-full md:w-56"></p-dropdown>
                        <div class="p-col-12 p-md-6 contractor-detail">
                            <label for="TenantIdentityPrevious" class="labelStyle">מספר ת.ז/דרכון/מ.ר.</label>
                            <input id="TenantIdentityPrevious" pInputText formControlName="TenantIdentityPrevious"
                                type="text" />
                        </div>

                        <!-- בדיקה אם IdentityTypePrevious שווה ל-4 -->
                        <div *ngIf="form.get('IdentityTypePrevious')?.value?.value === 4">
                            <label for="OtherPrevious" class="labelStyle"> :אחר</label>
                            <input id="OtherPrevious" pInputText formControlName="OtherPrevious" type="text" />
                        </div>
                    </div>

                    <!-- שדה האם חתם באמצעות ייפוי כוח -->
                    <div class="p-col-12 p-md-6 contractor-detail  comtainerswitch">
                        <!-- <label for="IsSignatureByPowerOfAttorney" class="labelStyle">האם חתם באמצעות ייפוי כוח?</label>
                        <div class="card flex justify-center">
                            <p-toggleswitch formControlName="IsSignatureByPowerOfAttorney"></p-toggleswitch>
                        </div> -->

                        <div class="p-col-12 p-md-6  contractor-detail">
                            <div class="card-row">
                                <div class="switch-with-label">
                                    <label class="form-label title">האם חתם באמצעות ייפוי כוח?</label>
                                    <label class="toggle-switch">
                                        <input type="checkbox" formControlName="IsSignatureByPowerOfAttorney"
                                            (change)="updateLabels()" />
                                        <span class="slider">
                                            <span class="slider-text">{{ IsSignatureByPowerOfAttorney ? 'כן' : 'לא'
                                                }}</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <button class="buttonIsSignatureByPowerOfAttorney"
                            *ngIf="powerDetailsCopied && isPowerOfAttorneyCopiedFromTenant && i>0&&form.get('IsSignatureByPowerOfAttorney')?.value==true"
                            type="button" (click)="releasePowerOfAttorneyDetails()">
                            ייפוי כח מועתק. לביטול לחץ כאן </button>
                    </div>

                    <!-- פרטי המיופה כוח -->
                    <div class="p-col-12 p-md-6 contractor-detail"
                        *ngIf="form.get('IsSignatureByPowerOfAttorney')?.value">
                        <label for="FirstNamePower" class="labelStyle">שם:</label>
                        <input id="FirstNamePower" pInputText formControlName="FirstNamePower"
                            [disabled]="powerDetailsCopied" type="text " />
                        <label for="LastNamePower" class="labelStyle">משפחה:</label>
                        <input id="LastNamePower" pInputText formControlName="LastNamePower"
                            [disabled]="powerDetailsCopied" type="text" />
                        <label for="PowerOfAttorneyId" class="labelStyle">מספר ת.ז/דרכון</label>
                        <input id="PowerOfAttorneyId" pInputText formControlName="PowerOfAttorneyId"
                            [disabled]="powerDetailsCopied" type="text" />
                    </div>

                    <!-- סוג התעודה עפ"י ייפוי כוח -->
                    <div class="p-col-12 p-md-6 contractor-detail"
                        *ngIf="form.get('IsSignatureByPowerOfAttorney')?.value">
                        <div class="flex flex-wrap gap-4">
                            <div class="flex items-center" *ngFor="let type of PowerOfAttorneyType">
                                <label class="custom-radio ml-2" [for]="type.value">
                                    <input type="radio" name="IdentityType" [id]="type.value" [value]="type.value"
                                        formControlName="IdentityType" />
                                    <span class="radio-circle"></span>
                                    {{ type.label }}
                                </label>
                            </div>
                        </div>
                        <label for="FromDate" class="labelStyle"> מיום: </label>
                        <input id="FromDate" [disabled]="powerDetailsCopied" pInputText formControlName="FromDate"
                            type="date" />
                        <label for="FileName" class="labelStyle"> קובץ </label>
                        <input id="FileName" [disabled]="powerDetailsCopied" pInputText formControlName="FileName"
                            pltype="text" />
                    </div>
                    <!-- כתובת וטלפונים -->
                    <div class="p-col-12 p-md-6 contractor-detail"
                        *ngIf="form.get('IsSignatureByPowerOfAttorney')?.value">
                        <label for="Address" class="labelStyle">כתובת:</label>
                        <input id="Address" pInputText formControlName="Address" [disabled]="powerDetailsCopied"
                            type="text" />
                        <label for="NumberPhone" class="labelStyle">טלפון:</label>
                        <input id="NumberPhone" pInputText formControlName="NumberPhone" [disabled]="powerDetailsCopied"
                            type="text" />
                        <label for="NumberPhone2" class="labelStyle">טלפון נוסף:</label>
                        <input id="NumberPhone2" pInputText formControlName="NumberPhone2"
                            [disabled]="powerDetailsCopied" type="text" />
                    </div>
                </div>
            </form>
        </div>
        <div class="contractor-box-container">
            <!-- כפתורי שמירה וביטול -->
            <div *ngIf="isAdd" class="contractor-box">
                <div class="icon-box">
                    <i class="pi pi-check"></i>
                </div>

                <button pButton type="button" label="שמירה" class="contractor-search" (click)="onSubmit()"></button>
            </div>
            <!-- כפתור ביטול -->
            <div *ngIf="isAdd" class="contractor-box">
                <div class="icon-box">
                    <i class="pi pi-times"></i>
                </div>
                <button pButton type="button" label="ביטול" class="contractor-search" (click)="cancel()"></button>
            </div>
        </div>
        <!-- הצגת שגיאה -->
        <div *ngIf="errorMessage" class="p-error">{{ errorMessage }}</div>

    </div>