@import "primeicons/primeicons.css";

body {
  margin-bottom: 148px;
  padding-top: 10px;
  font-family: 'Open Sans Hebrew', serif, 'Open Sans', sans-serif, arial;
  color: #000000;
  font-size: 15px;
  background-color: #fbfbf0; /* צבע הרקע של כל הדף */
  top: 20px;
  margin-left: 40%;
  margin-right: 12%;
}